@using NopFramework.Web.Extensions
@using NopFramework.Web.Models.News
@model NewsItemListModel
@{
    ViewBag.Title = "HomePageNews";
    Layout = "~/Views/Shared/_Root.cshtml";

}
<div class="banner1" style="margin-top:69px;">
    <div class="secondary_banner">
        <img class="image" src="~/Content/Images/custom/contactus_bannser.png" />
    </div>
</div>
<div class="container">
   
    <div class="news-list-homepage center-1">
        <div class="title">
            <strong>新闻</strong>
        </div>
        @Html.Action("NewsMenu", "Common")
        <div class="news-items">
            @foreach (var item in Model.NewsItems)
            {
                <div class="news-item">
                    <div class="news-head">
                        <a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@item.Title</a>
                        @*<span class="news-date">-@item.CreatedOn.ToString("D")</span>*@
                        <span class="news-date">-@item.CreatedOn.ToString()</span>
                    </div>
                    <div class="news-body">
                        @item.Title
                    </div>
                    <div class="buttons">

                        @Html.ActionLink("详情", "NewsItem", "News", new { newsItemId = item.Id }, new { @class = "read-more" })
                    </div>
                </div>
            }
        </div>
        @{
            var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
        }
        @if (!pager.IsEmpty())
        {
            <div class="pager">
                @pager
            </div>
        }
    </div>


</div>


